@import './variables.scss';

.caseStudies {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__video {
    width: 100%;
    padding: $spacing-4xl 0;
    background-color: $primary-white;
  }

  &__videoContainer {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $spacing-lg;
  }
}

