@import './variables.scss';

.discoverOurWork {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__intro {
    padding: $spacing-5xl 0 $spacing-3xl;
    background: linear-gradient(to top, $primary-beige 0%, $primary-beige 55%, $primary-white 100%);
  }

  &__introContainer,
  &__container {
    max-width: $container-max-width;
    margin: 0 auto;
    padding: 0 $spacing-lg;
  }

  &__eyebrow {
    margin: 0 0 $spacing-sm;
    color: $primary-black;
    font-size: $font-sm;
    font-weight: $font-semibold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    color: $primary-black;
    font-size: $font-5xl;
    position: relative;
    padding-bottom: $spacing-md;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95px;
      height: 4px;
      background-color: $primary-yellow;
    }
  }

  &__description {
    margin: $spacing-lg 0 0;
    max-width: 760px;
    color: $primary-black;
    font-size: $font-lg;
    line-height: 1.75;
  }

  &__directory {
    background-color: $primary-black;
    padding: $spacing-4xl 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: $spacing-xl;

    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: $breakpoint-md) {
    &__intro {
      padding: $spacing-3xl 0 $spacing-2xl;
    }

    &__title {
      font-size: $font-4xl;
    }

    &__description {
      font-size: $font-base;
    }

    &__directory {
      padding: $spacing-3xl 0;
    }
  }
}
